@model LoginApp.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <div id="login-div">
            @using (Html.BeginForm(FormMethod.Post)) {

            }
        </div>
    </div>
</body>
</html>
